<div  style="width: 97%; height: 85%; position: fixed; top: 45%; left: 50%; transform: translate(-50%, -50%);
            border: 2px solid #dfe7f0; border-width: 2px; border-radius: 6px;">
    <div style="width: 20%; height: 94vh; position: fixed; top: 0; left: 0; 
            background-color: #37404d;color: #e0e0e0; border-radius: 6px;">
        <div style="height: 7vh; width: 100%; background-color: #282e38;">
            Hotel App
        </div>
        Configuracion
    </div>
    <div style="width: 80%; height: 7vh; position: fixed; top: 0; left: 20%; background-color: white;
    box-shadow: 0 4px 6px -6px #222;">
        header
    </div>
    <div style="width: 80%; height: 88vh; position: fixed; top: 8vh; left: 20%; overflow-y: auto; background-color: #edf2f7; overflow: hidden;">
        <div style="height: 95%; width: 97%; margin: 1.5%; background-color: #ffffff; 
        border: 1px dashed #d7efdf; border-radius: 6px;
        border-width: 2px; overflow: hidden;">
            Content goes here
        </div>
    </div>
</div>