<div >
    <div class="left-side">
        <div class="logo">
            <div>Logo</div>
        </div>
        <app-admin-menu></app-admin-menu>
    </div>
    <div class="header">
        <app-admin-header></app-admin-header>
    </div>
    <div class="content" >
        <div style="height: 95%; width: 97%;  background-color: #ffffff; 
        border-radius: 15px;
        border-width: 2px; overflow: hidden;">
            <router-outlet></router-outlet>
        <!--div *ngIf="currentPage == 'home'">home page


        </div>
        <div *ngIf="currentPage == 'categories'">
            <app-categories-list></app-categories-list>
        </div-->
    </div>
</div>